.article-container{
  width: 100%;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;

}

.article-raiting{
  background-color: gray;
  text-align: center;
  box-shadow: 10px 10px 5px #888888;
}

.article-details{
  background-color: rgb(116, 148, 189);
  padding-left: 25px;
  box-shadow: 10px 10px 5px #888888;
}
